<h1>Events</h1>

<ul>
  <% @events.each do |event| %>
    <li>
      <a href="<%= event_path(event) %>">
        <%= event.title %>
      </a> hosted by <%= event.user.name %>.
      Fee: <%= event.price %>
    </li>
  <% end %>
</ul>